.cities {
    justify-content: space-evenly;
}

.favoriteCity {
    margin: 8px auto;
    width: 200px;
    min-height: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    animation-name: flip;
    animation-duration: 0.6s;
}

.favoriteCity:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.favoriteButton {
    justify-content: center;
    margin-top: 20px;
}

.starFilled:hover {
    cursor: pointer;
}

.star:hover {
    cursor: pointer;
}