.header {
    padding: 2vh 5vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 36px;
    color: #f68422
}

.temperature {
    margin-right: 10px;
}

.fahrenheit:hover {
    cursor: pointer;
} 

.celsius:hover {
    cursor: pointer;
}

.headerButtons {
    min-width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.mobileButton {
    display: none;
    position: absolute;
    right: 2vw;
    z-index: 6;
}

.buttonOpen {
    position: fixed;
}

.screen {
    top:0;
    right: 0;
    width:100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    backdrop-filter: blur(50px);
}

.burger {
    background-image: url('/src/assets/icons/burger.png');
  }

  .close {
    background-image: url('/src/assets/icons/close.png');
  }

.burger:hover{
    cursor: pointer;
}
.burgerContent {
    position: fixed;
    min-height: 30vh;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 7px #00000073;
    transition: transform 0.5s;
}

.showBurger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    transform: translateY(0);
    z-index: 5;
  }
  
  .hideBurger {
    transform: translateY(-100%);
  }

.allBurger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 600px) {
  
    .headerButtons {
      display: none;
    }

    .mobileButton {
        display: block;
    }

    .allBurger {
        display: flex;
      }

}