.cityList {
  align-items: flex-start;
  margin-top: 2px;
  position: absolute;
  width: 250px;
  background-color: #fff;
  opacity: 0.95;
  /* border-radius: 25px; */
  z-index: 1;
}

.listLocation {
  padding: 6px;
}

.listLocation:hover {
  cursor: pointer;
  background-color: #f68422;

}